*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    background-color: #212121;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    color: white;
}

.container2{
    width:90%;
    margin:auto;
    overflow:hidden;
    color: white;
}

/*---------------------------------------------------Start Header------------------------------------------------------*/
/*-----------------------------------------------Start Navigation Bar--------------------------------------------------*/
header{
    /*background: black;*/
    color:#ffffff;
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    border-bottom: #76ff03 1px solid;
    z-index: 99;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    display: block;
    padding: 1em;
}

header ul{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li{
    list-style: none;
}

header #branding{
    float:left;
    width: 40%;
}

header .brand-logo{
    float: left;
    padding-top: 5px;
    /*width: 10%;*/
    height: 70px;
    display: flex;
    align-items: center;
}

header .brand-name{
    padding: 15px 0px;
    float: left;
    height: 50px;
    display: flex;
    align-items: center;
}

header nav{
    float:right;
    margin-top:10px;
}

#nav-toggle{
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 990px){
    nav .brand-logo{
        float: none;
        /*width: 20%;*/
        height: 80px;
        justify-content: center;
    }

    nav .brand-name{
        float: none;
        height: 80px;
        justify-content: center;
    }

    header ul{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    header a{
        font-size: 20px;
    }

    nav :checked ~ ul {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

header .current a{
    color:#76ff03;
    font-weight:bold;
}

header a:hover{
    color: #76ff03;
    font-weight: bold;
}
/*------------------------------------------------End Navigation Bar---------------------------------------------------*/
/*--------------------------------------------------End Header-------------------------------------------------------*/

/*--------------------------------------------------Start Fitness-------------------------------------------------------*/
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    padding-top: 7rem;
}

.allImage img{
    padding-top: 10rem;
    max-width: fit-content;
    width: 100%;
    height: auto;
    max-height: 25rem;
}

.blogPost {
    width: 90%;
    max-width: 80rem;
    padding: 3rem;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    border: rgba(0, 242, 255, 0.8) 1px solid;
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blogPostImage{
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    transform: translateX(-1rem);
    position: relative;
    opacity: 0.9;

}

.blogPostImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blogPostContent {
    left: 0;
}


.blogDate {
    display: block;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.blogPostTitle{
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    color: #76ff03;
}


.blogPostText{
    font-size: 0.9rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 3rem;
}

.blogPostButton{
    display: inline-block;
    padding: 0.8rem 1.0rem;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #76ee05, #76ff03);
    border-radius: .8rem;
    text-decoration: none;

}


/*--------------------------------------------------End Fitness-------------------------------------------------------*/
/*-------------------------------------------------Start NewsLetter-------------------------------------------------------*/

#newsletter{
    background-color: #76ff03;
    min-height: 80px;
}

#newsletter h1{
    font-size: 30px;
    margin-top: 25px;
    padding-left: 65px;
    font-weight: 800;
    color: black;
    float: left;
}

#newsletter form{
    float: right;
    padding-right: 65px;
    margin-top:20px;
}

#newsletter input[type="text"]{
    padding: 4px;
    padding-left: 10px;
    height: 33px;
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#newsletter input[type="text"]:focus{
    outline: none;
}

.newsButton{
    height: 45px;
    background: black;
    font-size: 12px;
    border: solid 1px #000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0 20px;
    transition: all 0.3s linear;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.newsButton:hover{
    background: #000;
    color: #76ff03;
    border: solid 1px #fff;
}

@media screen and (max-width: 990px){

}
/*---------------------------------------------------End NewsLetter-----------------------------------------------------*/
/*-------------------------------------------------Start Footer-------------------------------------------------------*/
footer{
    width: 100%;
    padding: 40px 0;
    background-color: #000;
}

footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width:  40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.7;
}

footer .social a:hover{
    opacity: 0.9;
}

footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover{
    opacity: 1;
}

footer .copy{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}
/*--------------------------------------------------End Footer-------------------------------------------------------*/