*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body{
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    background-color: #212121;
}

html{
    scroll-behavior: smooth;
}
.productwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    color: white;
}

.container2{
    width:90%;
    margin:auto;
    overflow:hidden;
    color: white;
}
/*-------------------------Button Style 1----------------------------*/
.button{
    outline: none;
    display: block;
    border: solid 1px #00e676;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 20px;
    border-radius: 30px;
    color: #00e676;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0;
}

.button:hover,
.button:focus{
    background: #00e676;
    color: #000000;
}

.button:active{
    background: #000000;
    color: #00e676;
}

/*-------------------------Button Style 1----------------------------*/
/*-------------------------Button Style 2----------------------------*/

.button2{
    outline: none;
    display: block;
    border:solid 1px transparent;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.button2:hover,
.button2:focus{
    border:solid 1px #fff;
    background: transparent;
    color: #fff;
}

.button2:active{
    border: solid 1px #000;
    background: #fff;
    color: #000;
}
/*-------------------------Button Style 2----------------------------*/
/*------------------------Back To Top Button-------------------------*/

#backToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #212121;
    cursor: pointer;
    outline: none;
    border: solid 3px #fff;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    transition-property: background-color, color;
}

#backToTop:hover,
#backToTop:focus{
    border-color: #00e676;
    background-color: #000;
    color: #ffffff;
    transition: all 0.3s ease;
}

/*----Back To Top Button Icon------------------*/
#backToTop img{
    width: 75%;
}

/*----Back To Top Button Entrance Animation----*/
.btnEntrance{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance{
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*----Back To Top Button Exit Animation-------*/
.btnExit{
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
/*------------------------Back To Top Button-------------------------*/
/*---------------------------------------------------Start Header------------------------------------------------------*/
/*-----------------------------------------------Start Navigation Bar--------------------------------------------------*/
header{
    background: #212121;
    color:#ffffff;
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    border-bottom: #00e676 1px solid;
    z-index: 99;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    display: block;
    padding: 1em;
}

header ul{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li{
    list-style: none;
}

header #branding{
    float:left;
    width: 40%;
}

header .brand-logo{
    float: left;
    padding-top: 5px;
    /*width: 10%;*/
    height: 70px;
    display: flex;
    align-items: center;
}

header .brand-name{
    padding: 15px 0px;
    float: left;
    height: 50px;
    display: flex;
    align-items: center;
}

header nav{
    float:right;
    margin-top:10px;
}

#nav-toggle{
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 990px){
    nav .brand-logo{
        float: none;
        /*width: 20%;*/
        height: 80px;
        justify-content: center;
    }

    nav .brand-name{
        float: none;
        height: 80px;
        justify-content: center;
    }

    header ul{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    header a{
        font-size: 20px;
    }

    nav :checked ~ ul {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

header .current a{
    color:#00e676;
    font-weight:bold;
}

header a:hover{
    color: #00e676;
    font-weight: bold;
}
/*------------------------------------------------End Navigation Bar---------------------------------------------------*/

#showcase{
    min-height: 800px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.0)), url('../images/index/header_illustrator.png') no-repeat 0 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 65%;
    text-align: right;
    color: #ffffff;
}

#showcase img{
    width: 35%;
    margin-top: 80px;
}

#showcase .title{
    margin-top: 0;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #00e676;
    letter-spacing: 5px;
}

#showcase .desc{
    margin-top: 20px;
    float: right;
    width: 450px;
}

#showcase .desc-text{
    font-size: 20px;
}

#showcase .meetus-button{
    float: right;
    width: 150px;
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 820px){
    #showcase{
        min-height: 420px;
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0)), url('../images/index/header_illustrator.png') no-repeat center 80px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        text-align: center;
    }

    #showcase img{
        display: none;
    }

    #showcase .title{
        width: auto;
        margin-top: 100%;
        font-size: 30px;
    }

    #showcase .desc{
        margin-top: 10px;
        float: none;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #showcase .desc-text{
        text-align: center;
    }

    #showcase .meetus-button{
        float: none;
        align-items: center;
    }

}

/*--------------------------------------------------End Header-------------------------------------------------------*/
/*--------------------------------------------------Start About-------------------------------------------------------*/

.about-text{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #00e676;
    letter-spacing: 5px;
    text-align: center;
}

.about-desc{
    margin: 30px 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

/*--------------------------------------------------End About-------------------------------------------------------*/
/*--------------------------------------------------Start Icons-------------------------------------------------------*/
#icons{
    margin: 100px 0;
    width: 100%;
    text-align: center;
}

#icons .ico-pic{
    width: 200px;
}

#icons #ico{
    transition: transform .4s;
}

#icons #ico:hover{
    transform: scale(1.2);
}

#icons .ico-text{
    margin-top: 10px;
    font-size: 25px;
}

/*--------------------------------------------------End Icons-------------------------------------------------------*/
/*--------------------------------------------------Start Fitness-------------------------------------------------------*/
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
}


.blogPostButton{
    position: relative;
    margin-bottom: 2rem;
    padding: 0.4rem 0.6rem;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #76ee05, #00e676);
    border-radius: .8rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.item_img{
    width: 16.5rem;
    height: 12rem;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem 0;
    font-weight: 800;
    font-size: 1.3rem;
    color: #76ff03;
}


/* product section */
.products{
    padding: 2rem 0;
    width: 100%;
}
.products .text-light{
    text-align: center;
    width: 80%;
    margin: 0.9rem auto;
}
.product{
    margin: 25px;
    position: relative;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    border: rgba(0, 242, 255, 0.8) 1px solid;
    align-items: center;
    border-radius: .8rem;
}
.product-content{
    padding: 2.5rem 1.2rem 1.5rem 2rem;
    cursor: pointer;
}
.product-img{
    width: 270px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-info, p, .product_name{
    padding: 2px 3px 4px 18px;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.product-name, h4{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
}

.readBut{
    float: right;
    bottom: 10px;
    right: 10px;
}

.product-img img{
    transition: transform 0.6s ease;
}
.off-info .sm-title{
    background:#76ff03;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}



/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (max-width: 1068px){
    .blogPost{
        max-width: 80rem;
    }

    .blogPostImage{
        max-width: 20rem;
        min-width: 20rem;
    }
}

@media screen and (max-width: 868px){
    .blogPost{
        max-width: 50rem;
    }
}

@media screen and (max-width: 768px){
    .blogPost{
        padding: 2.5rem;
    }
    
    .blogPostImage{
        max-width: 70%;
        min-width: 70%;
    }
}

@media screen and (max-width: 668px){
    .blogPost{
        padding: 2.5rem;
    }
    
    .blogPostImage{
        max-width: 60%;
        min-width: 60%;
    }
}

@media screen and (max-width: 568px){
    .blogPost{
        padding: 2rem;
    }
    
    .blogPostImage{
        max-width: 50%;
        min-width: 50%;
    }
}

/*--------------------------------------------------End Fitness-------------------------------------------------------*/
/*-------------------------------------------------Start NewsLetter-------------------------------------------------------*/
#devideLayer{
    background: linear-gradient(rgba(0, 242, 255, 0.8),rgba(0,0,0,0.0));
    min-height: 80px;
}

#devideLayer h1{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
    font-weight: 1000;
    color: #ffffff;
    float: left;
}

#newsletter{
    background-color: #00e676;
    min-height: 80px;
}

#newsletter h1{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 20px;
    padding-left: 20px;
    font-weight: 800;
    color: black;
    float: left;
}

#newsletter form{
    text-align: center;
    margin-top:20px;
    float: right;
}

#newsletter input[type="text"]{
    padding: 4px 4px 4px 10px;
    height: 33px;
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#newsletter input[type="text"]:focus{
    outline: none;
}

.newsButton{
    height: 45px;
    background: black;
    font-size: 12px;
    border: solid 1px #000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0 20px;
    transition: all 0.3s linear;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.newsButton:hover{
    background: #000;
    color: #00e676;
    border: solid 1px #fff;
}

@media screen and (max-width: 1300px) {
    #newsletter{
        min-height: 100px;
    }

    #newsletter form{
        text-align: center;
        margin-top:10px;
        float: none;
    }

    #newsletter h1{
        font-size: 25px;
        margin-top: 25px;
        padding-left: 25px;
        text-align: center;
        float: none;
    }

    #newsletter input[type="text"]{
        padding: 4px 4px 4px 10px;
        height: 30px;
        width: 250px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .newsButton{
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        text-align: center;
        padding: 0 20px;
        transition: all 0.3s linear;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

@media screen and (max-width: 580px){
    #newsletter{
        min-height: 100px;
    }

    #newsletter h1{
        font-size: 20px;
        margin-top: 25px;
        float: none;
    }

    #newsletter form{
        float: none;
        padding-right: 0;
        margin-top:20px;
    }

    #newsletter input[type="text"]{
        padding: 4px 4px 4px 10px;
        height: 20px;
        width: 250px;
        border-radius: 30px;
        text-align: center;
    }

    .newsButton{
        height: 40px;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        padding: 0 20px;
        transition: all 0.3s linear;
    }
}
/*---------------------------------------------------End NewsLetter-----------------------------------------------------*/
/*-------------------------------------------------Start Footer-------------------------------------------------------*/
footer{
    width: 100%;
    padding: 40px 0;
    background-color: #000;
}

footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width:  40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.7;
}

footer .social a:hover{
    opacity: 0.9;
}

footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover{
    opacity: 1;
}

footer .copy{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}
/*--------------------------------------------------End Footer-------------------------------------------------------*/